replicas: 1

resources: {}
#  requests:
#    memory: 512Mi
#    cpu: 100m
#  limits:
#    memory: 2048Mi

deploymentStrategy:
  type: Recreate

podSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  runAsNonRoot: true

securityContext:
  capabilities:
    drop: [ "ALL" ]
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  privileged: false

image:
  registry: docker.io
  repository: infrolabs/infro-core
  tag: latest@sha256:c6c4fef1fe102118ff40fe84cc9a9d8bc39f3e12928a290d725ae75756d5afe7
  pullPolicy: IfNotPresent

config:
  existingSecretName:
  owner:
  config:
