grafana:
  dashboard:
    enabled: false

route:
  enabled: false
  apiVersion: gateway.networking.k8s.io/v1
  kind: HTTPRoute
  annotations: {}
  hostnames:
    - gatus.example.com
  parentRefs: []
  filters: []
  matches: []
  timeouts: {}

gatus:
  deployment:
    annotateConfigChecksum: false
    revisionHistoryLimit: 0

  env:
    GATUS_CONFIG_PATH: /configfiles

  extraVolumeMounts:
    - name: config
      mountPath: /configfiles

  extraInitContainers:
    - name: init-config-loader
      image: ghcr.io/kiwigrid/k8s-sidecar:2.1.2
      env:
        - name: METHOD
          value: "LIST"
        - name: NAMESPACE
          value: "ALL"
        - name: IGNORE_ALREADY_PROCESSED
          value: "true"
        - name: LABEL
          value: "gatus-configfile"
        - name: FOLDER
          value: /configfiles
        - name: RESOURCE
          value: "both"
      volumeMounts:
        - name: config
          mountPath: /configfiles
    - name: config-loader
      image: ghcr.io/kiwigrid/k8s-sidecar:2.1.2
      restartPolicy: Always
      env:
        - name: NAMESPACE
          value: ALL
        - name: IGNORE_ALREADY_PROCESSED
          value: "true"
        - name: LABEL
          value: "gatus-configfile"
        - name: FOLDER
          value: /configfiles
        - name: RESOURCE
          value: "both"
        - name: HEALTH_PORT
          value: "8081"
      readinessProbe:
        httpGet:
          path: /healthz
          port: 8081
        initialDelaySeconds: 20
        periodSeconds: 5
      livenessProbe:
        httpGet:
          path: /healthz
          port: 8081
        initialDelaySeconds: 35
        periodSeconds: 10
      volumeMounts:
        - name: config
          mountPath: /configfiles

  serviceAccount:
    create: true
    autoMount: true

  serviceMonitor:
    enabled: true

  config:
    metrics: true
    skip-invalid-config-update: true
    disable-monitoring-lock: true
    endpoints: null
