kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ template "common.fullname" . }}
  labels:
    app.kubernetes.io/component: "app"
    {{- include "common.labels" . | nindent 4 }}
spec:
  revisionHistoryLimit: 0
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: "app"
      {{- include "common.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: "app"
        {{- include "common.selectorLabels" . | nindent 8 }}
    spec:
      securityContext: {{ toYaml .Values.app.podSecurityContext | nindent 8 }}
      containers:
      - name: {{ .Chart.Name }}
        image: '{{ .Values.app.image.registry }}/{{ .Values.app.image.repository }}:{{ .Values.app.image.tag }}'
        imagePullPolicy: {{ .Values.app.image.pullPolicy }}
        command: ['web-entrypoint.sh']
        args: ['bin/rails', 'server', '-p', '3000', '-b', '::']
        env:
          {{- include "dawarich.env" . | nindent 8 }}
        startupProbe:
          httpGet:
            port: http
            path: /api/v1/health
            httpHeaders:
            - name: Host
              value: {{ template "common.fullname" . }}
        livenessProbe:
          httpGet:
            port: http
            path: /api/v1/health
            httpHeaders:
            - name: Host
              value: {{ template "common.fullname" . }}
        readinessProbe:
          httpGet:
            port: http
            path: /api/v1/health
            httpHeaders:
            - name: Host
              value: {{ template "common.fullname" . }}
        volumeMounts:
        - name: storage
          mountPath: /var/app/storage
        - name: public
          mountPath: /var/app/public
        - name: watched
          mountPath: /var/app/tmp/imports/watched
        ports:
        - name: http
          containerPort: 3000
        {{- if .Values.config.prometheus.enabled }}
        - name: metrics
          containerPort: {{ .Values.config.prometheus.port }}
        {{- end }}
        resources: {{ toYaml .Values.app.resources | nindent 12 }}
      - name: {{ .Chart.Name }}-sidekiq
        image: '{{ .Values.app.image.registry }}/{{ .Values.app.image.repository }}:{{ .Values.app.image.tag }}'
        imagePullPolicy: {{ .Values.app.image.pullPolicy }}
        command: ['sidekiq-entrypoint.sh']
        args: ['bundle', 'exec', 'sidekiq']
        env:
          {{- include "dawarich.env" . | nindent 8 }}
        startupProbe:
          exec:
            command: [ "sh", "-c", "pgrep -f sidekiq" ]
        livenessProbe:
          exec:
            command: [ "sh", "-c", "pgrep -f sidekiq" ]
        readinessProbe:
          exec:
            command: [ "sh", "-c", "pgrep -f sidekiq" ]
        volumeMounts:
        - name: storage
          mountPath: /var/app/storage
        - name: public
          mountPath: /var/app/public
        - name: watched
          mountPath: /var/app/tmp/imports/watched
      volumes:
      - name: storage
        {{- if .Values.app.persistence.enabled }}
        persistentVolumeClaim:
          claimName: {{ if .Values.app.persistence.existingClaim }}{{ .Values.app.persistence.existingClaim }}{{- else }}{{ template "common.fullname" . }}-storage{{- end }}
        {{- else }}
        emptyDir: {}
        {{- end }}
      - name: public
        emptyDir: {}
      - name: watched
        emptyDir: {}
