apiVersion: v1
kind: Secret
metadata:
  name: {{ template "common.fullname" . }}-secret
  labels:
    app.kubernetes.io/component: "app"
    {{- include "common.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.config.secretKeyBase }}
  secret-key-base: {{ .Values.config.secretKeyBase | b64enc | quote }}
  {{- else }}
  # Generate a random secret key base if not provided
  secret-key-base: {{ randAlphaNum 128 | b64enc | quote }}
  {{- end }}
