apiVersion: v1
kind: Service
metadata:
  name: {{ template "common.fullname" . }}
  labels:
    app.kubernetes.io/component: "app"
    {{- include "common.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 3000
    targetPort: http
  {{- if .Values.config.prometheus.enabled }}
  - name: metrics
    port: {{ .Values.config.prometheus.port }}
    targetPort: metrics
  {{- end }}
  selector:
    app.kubernetes.io/component: "app"
    {{- include "common.selectorLabels" . | nindent 4 }}
