timezone: Europe/Amsterdam

persistence:
  size: 200Gi
  storageClass: ''
  # existingVolume:
  accessMode: ReadWriteMany
  labels: {}

route:
  enabled: false
  apiVersion: gateway.networking.k8s.io/v1
  kind: HTTPRoute
  annotations: {}
  hostnames:
    - immich.example.com
  parentRefs: []
  filters: []
  matches: []
  timeouts: {}

ingress:
  enabled: true
  domain: immich.example.com
  annotations:
    # proxy-body-size is set to 0 to remove the body limit on file uploads
#    nginx.ingress.kubernetes.io/proxy-body-size: "0"
  tls:
    enabled: true
    secretName:

database:
  image:
    registry: ghcr.io
    repository: ghcr.io/tensorchord/cloudnative-vectorchord
    tag: 16-0.4.2 # 0.4.2 is the vectorchord version that is compatible with immich

  clusterName: immich-postgresql
  logLevel: error
  replicas: 2
  size: 32Gi
  # storageClass: ""

  monitoring:
    enabled: true

  backups:
    enabled: false
    compression: bzip2
    destination: ''
    retention: '8d'
    schedule: '0 0 0 * * *' #daily
    secretName: ''
    provider: azure # azure, s3
    s3:
      endpoint: ''
      accessKeyName: 'ACCESS_KEY'
      secretKeyName: 'SECRET_KEY'
    azure:
      connectionStringKeyName: 'CONNECTION_STRING'

  topologySpreadConstraints:

machineLearning:
  replicas: 1
  image:
    registry: ghcr.io
    repository: immich-app/immich-machine-learning
    tag: v2.2.3
    pullPolicy: IfNotPresent
  
  modelPreload:
    objectRecognition: # 'immich-app/ViT-L-16-SigLIP-384__webli'
    faceRecognition: # 'immich-app/buffalo_l'

#  resources:
#    requests:
#      cpu: 10m
#      memory: 128Mi
#    limits:
#      memory: 512Mi

server:
  replicas: 1
  image:
    registry: ghcr.io
    repository: immich-app/immich-server
    tag: v2.2.3
    pullPolicy: IfNotPresent
  podSecurityContext: {}

#  resources:
#    requests:
#      cpu: 10m
#      memory: 128Mi
#    limits:
#      memory: 512Mi

redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: false
    usePasswordFiles: false
  master:
    revisionHistoryLimit: 0
