revisionHistoryLimit: 0

nodeSelector: {}

resources: {}
#  requests:
#    cpu: 50m
#    memory: 10Mi
#  limits:
#    memory: 20Mi

podSecurityContext: {}

securityContext:
  privileged: false
  allowPrivilegeEscalation: false
  capabilities:
    drop: [ "ALL" ]
  readOnlyRootFilesystem: true
  seccompProfile:
    type: "RuntimeDefault"
  seLinuxOptions:
    type: "container_device_plugin_t"

image:
  registry: docker.io
  repository: squat/generic-device-plugin
  tag: latest@sha256:e812d2d79e5642bf89e87203d422d351d3fcbbd29ef440481eb7638651d3eb6e
  pullPolicy: IfNotPresent

readinessProbe:
  failureThreshold: 3
  successThreshold: 1
  initialDelaySeconds: 5
  periodSeconds: 10

livenessProbe:
  failureThreshold: 3
  successThreshold: 1
  initialDelaySeconds: 5
  periodSeconds: 10

domain: device.local
# valid options: all, debug, info, warn, error, none
logLevel: error
devices: {}
